<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated opm -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="ru.artem.phd.opm.model.presentation.OPMModelWizardID"
            name="%_UI_OPMModelWizard_label"
            class="ru.artem.phd.opm.model.presentation.OPMModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/OPMModelFile.gif">
         <description>%_UI_OPMModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated opm -->
      <editor
            id="ru.artem.phd.opm.model.presentation.OPMEditorID"
            name="%_UI_OPMEditor_label"
            icon="icons/full/obj16/OPMModelFile.gif"
            extensions="opm"
            class="ru.artem.phd.opm.model.presentation.OPMEditor"
            contributorClass="ru.artem.phd.opm.model.presentation.OPMActionBarContributor">
      </editor>
   </extension>

</plugin>
