<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated opm -->
      <package
            uri="www.vainolo.com/phd/opm"
            class="ru.artem.phd.opm.model.OPMPackage"
            genModel="model/opm.genmodel"/>
   </extension>

</plugin>
